
@color-red: #e54d42;
@color-yellow: #FFFC19;
@color-brightred: #FF0000;
@color-brightblue: #1485CC;
@color-blue: #0971B2;
@color-grey: #f1f1f1;
@color-lightgrey: #bdbdbd;
@base: @color-grey; 
@unit-1: 1px;
@unit-3: 3px;
@unit-10: 10px;
@unit-rem: 1rem;
@unit-percent: 10%;
@logo: url("../images/haveKnowLogo.png");

html, body {
  font-family: 'chunk', Arial, sans-serif;
  width: 100%;
  letter-spacing: 2px;

}

@font-face {
    font-family: 'NewFont';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'), url('SourceSansPro-Regular-webfont.woff') format('woff'), url('Aaargh-webfont.ttf') format('truetype'), url('Aaargh-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunk';
    src: url('chunkfive1-webfont.eot');
    src: url('chunkfive1-webfont.eot?#iefix') format('embedded-opentype'), url('chunkfive1-webfont.ttf') format('truetype'), url('chunkfive1-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.banner {
    height: @unit-10 * 10;
    width: 100%;
    z-index: 5;
    margin-top: 0px;
	background-color: @base;
}

.logo {
	width: auto;
	height: @unit-10 * 8;
	position: relative;
	top: @unit-10;
	left: @unit-10;
}

.content {
	.box;
	margin: @unit-10 * 2 auto;
	width: @unit-10 * 70;
	display: block;
	position: relative;
	font-size: @unit-percent * 12;
	  color: #eee;
}

.content-inner {
	width: @unit-10 * 60;
	text-align: center;
	margin: @unit-10 * 2 auto;
	position: relative;
	top: @unit-10;
	
}

label, #username {
	display: inline-block;
}

#username {
border-radius: 0 3px 3px 0;
width: 15rem;
margin-right: 1rem;
border: none;
}

.maskcontain {
	position: relative;
	top: @unit-10 * 2;
}

.know_input {
	position: relative;
	top: @unit-10;
}

input[type=text], input[type=password]{
    margin: 0 auto;
    font-size: 12px;
    height: 25px;
	padding: .32em; 
    line-height: 1.4; 
    font-size: 16px; 
	-moz-border-radius: 7px;
    -webkit-border-radius:  7px;
    border-radius:  7px;
}

#togglemasklabel {
	width: @unit-10 * 4;
	margin: 0 @unit-10 ;
	display: inline-block;
	display: inline-block;
	position: relative;
	top: 9px;
}
input {
	border-radius: 3px;
	border: none;
}
input#togglemask {
	position: relative;
	top: 9px;
}

#unmaskbtn {
	position: relative;
	left: @unit-10 * 5;
}

#access_denied {
	height: @unit-10 * 4.5;
	display: block;
}

.pull_left {
float: left;
}

.pull_right {
float: right;
}

.clear {
clear: both;
}

.center {
	text-align: center;
}

#cash {
	margin: 0 auto;
	position: relative;
	left: @unit-10 * 6;
}

#starter {
	margin: @unit-10 auto;
	text-align: center;
	font-size: @unit-10 * 4;
	text-transform:uppercase;
	width: @unit-10 * 25;
}

#plus {
	border: @unit-3 solid @color-yellow;
	background-color: #fff;
	font-size: @unit-percent * 12;
	padding: 0 @unit-10;
}

#theuser {
	display: none;
}

.prefix {
	font-size: @unit-percent * 10;
}

.huge {
	font-size: @unit-percent * 50;
}

.result {
	font-size: @unit-percent * 20;
	margin-bottom: @unit-10 * 2;
}

#userinfo {
	left:  @unit-10 * 3.5;
	position: relative;
}

.result-after img {
	max-width: 200px;
	max-height: 200px;
	margin-right: 10px;
	border-radius: 3px;

}

.notify {
	left:  @unit-10 * 5.5;
	position: relative;
}

.emergency {
	left:  @unit-10;
	position: relative;
}

.push_down {
	margin-top: @unit-10 * 10;
}

.desccontain, .desc {
	float: left;
	width: 100%;
	margin: @unit-3 auto;
}

#am_person {
	margin-top: @unit-10 * 18;
}

#returnbtn {
	margin-top: @unit-10 * 18;	
}

.answer_go {
 margin-right: @unit-10;
}

.usericon {
	width: 49px;
	position: relative;
	top: 15px;
}
hr {
border-color: #fff;
border-top: none;
}

.button_color {
background: #ffc140;
color: #333;
}

.button {
	border-radius: 3px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	padding: 10px 24px;
	font-family: chunk;
	position: relative;
	top: 9px;
}
.button_color:hover {
	background:@color-lightgrey;
	color: #fff;
}
.button:active {
	position:relative;
	top:1px;
}

.nums {
	font-family: Arial;
	background-color: @color-grey;
	padding: 4px 10px;
	border: 1px solid black;
	color: #000;
}

.num_row {
	display: block;
		float: left;
}

#backbtn {
	display: none;
}

#denybtn {
	background: #e54d42;

}
#denybtn:hover {
	background:@color-lightgrey;
	color: #fff;
}
.fa.fa-user {
	display: inline-block;
	width: 40px;
	height: 33px;
	top: 1px;
	text-align: center;
	position: relative;
	line-height: 33px;
	border-radius: 3px 0px 0px 3px;
	background: #1abc9c;
	border: 1px solid #1abc9c;
	color:#fff;
}
.box {
	width: calc(50% - 30px);
	display: inline-block;
	min-height: @unit-10 * 45;
	background: @color-blue;
	position: relative;
	margin-left: @unit-10 * 2;
	margin-bottom: @unit-10 * 2;
	border-radius: @unit-10 * .5;
	
}

input {
border-radius: 3px;
border: none;
}

#gobtn {
margin-bottom: 20px;
top: 0px;
}